<!-- If use = instead of - after the opening ejs tag, the content of the included file will be imported as text only  -->
<%- include("partials/head.ejs") %> 
  </head>

  <body>
    <%- include("partials/navigation.ejs") %> 
    <h1>Page Not Found!</h1>
<%- include("partials/end.ejs") %>
